/* body{
    margin: 0px;
    padding: 0px;
} */
p{
    color: #bb0800;
    background: #fdcc01; 
    border: 5px #bb0800 solid;
    margin: 20px;
    padding: 30px;
    text-align: justify;
    letter-spacing: 5px;
    word-spacing: 2px;
    line-height: 30px;
    font-family:  Arial, Helvetica, sans-serif;
    font-style:oblique;
    font-weight: bold;
    font-size: 30px ;
    /* Margen */
    /* margin-top:  0px;
    margin-bottom: 0px; */
    /* padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px; */
}
a{
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
a:hover{
    text-decoration: underline;
}
span{
    text-decoration: line-through;
}
.titulo{
    text-transform: uppercase;
    text-align: center;
}
.Iconos i{
    margin-left: 50px;
}
.Iconos{
    color: blueviolet;
    text-align: center;
    font-size: 20px;
}

.Iconos i:hover{
    color:red;
}
